#section{
    width: 1100px;
    margin: 10px auto;
    overflow: hidden;
}
.pay-title{
    padding: 20px 0;
}
table thead tr{
    background-color: #F9F6F1;
    width: 1100px;
}
table thead tr td{
    padding: 8px 0;
}
td{
    padding: 0 20px;
    vertical-align: middle;
    text-align: center;
}
.rt-sum a {
    display: inline-block;
    font-weight: bold;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    border: 1px solid #F4EFEA;
}
.rt-sum input {
    display: inline-block;
    margin: 0 8px;
    width: 30px;
    height: 21px;
    text-align: center;
    border: 1px solid #F4EFEA;
}
.pay-other{
    background-color: #F9F6F1;
}
.pay-other textarea{
    margin: 10px;
}
.deliver{
    margin:10px ;
}
#section ul li{
    padding: 5px 0;
}
.pay_way{
    padding: 10px 0;
}
.total{
    width: 100%;
    text-align: right;
    padding: 14px 0;
    background-color: #F9F6F1;
}
.total p{
    padding-right: 20px;;
}


/*模态框*/
.bg p{
    height: 40px;
    line-height: 40px;
    margin-left: 100px;
}
.sub input,.text{
    margin: 0 8px;
    width: 200px;
    height: 24px;
    text-align: center;
    border: 1px solid #F4EFEA;
    border-radius: 2px;
}
.sub select{
    margin: 0 4px;
    height: 24px;
    text-align: center;
    border: 1px solid #F4EFEA;
    border-radius: 2px;
}
.sub>a{
    display: inline-block;
    width: 52px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
    border-radius: 5px;
    margin-right: 10px;
}
